<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Impulse</title>
</head>
<body>
    <div class="topnav">
        <p>Impulse</p>
        <p id="account"></p>
    </div><br>

    <div id="container">
        <% blogs.forEach(blog => { %>
            <!-- <br> -->
            <div id="<%= blog._id %>" class="blog" onclick="window.location = '/post/<%= blog._id %>'"><br>
                <h1><%= blog.title %></h1><br>
                <h3 style="margin-left: 20%; margin-right: 20%; text-align: left;"><%= blog.content %></h3>
                <p style="text-align: right; margin-right: 5%;">-<%= blog.author %></p>
            </div>
        <%})%>
    </div>

    <script>
        document.getElementById("account").textContent = localStorage.getItem("impulse-account");
    </script>
</body>
</html>