<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./components/head') %>
    <title>Impulse</title>
</head>
<body>
    <%- include('./components/topnav')%>

    <br><br><br><br>
    <h1 style="text-align: center;"><%= user.username %></h1>
    <h3 id="bio" style="text-align: center;"><%= user.bio %></h3>
    <div id="desc" class="desc"><br>
        <form id="followSys" method="post">
            <input id="followBtn" type="submit" value="follow"/>
        </form>
    </div>

    <%- include('./components/blogTemp')%>

    <script>
        let username = localStorage.getItem("impulse-account");
        let url = window.location.href.split('/');
        let userUrl = url[4].split('%20').join(' ');
        let data = {username, userUrl}

        fetch('/profile', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(res => {
            if (res.status == 200) {
                let followBtn = document.getElementById("followBtn");
                followBtn.remove();

                let parent = document.getElementById("desc");
                let link = document.createElement('a');
                link.appendChild(document.createTextNode("settings"));
                link.href = "/account/settings";
                parent.appendChild(link);
            }
        });

        let form = document.getElementById("followSys");
        form.addEventListener("submit", e => {
            e.preventDefault();

            console.log("follow request coming in. remember to make this function does both follow and unfollow somehow. good luck future me!")
            // use the value of the button as a boolean (follow / unfollow) and take that in as an argument and depending on the bool, send a different fetch request.
        })
    </script>
</body>
</html>